{{ form_start(form) }}

    <div>
        {{ form_row(form.mediaImage, {
            'attr':{'class':'form-control'}
        }) }}
    </div>

    <br>
    <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
    <br>

{{ form_end(form) }}
