
header.masthead {

    min-height: 580px;
    min-width: 1024px;
    /* On indique un redimensionnement proportionnel */
    width: 100%;
    height: 100%;
    /* L'image est positionnée en haut à gauche */
    top: 0;
    left: 0;

    background-image: url('../image/home.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.gradient-custom {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }