{% extends 'base.html.twig' %}

{% block title %}Edit Commentaire{% endblock %}

{% block body %}
    <div class="container vh-100">
        <br><br>
        <h1 class="text-center">Edit Commentaire</h1>
        <br><br>
        {{ include('commentaire/_form.html.twig', {'button_label': 'Modifier',
                'button_class': 'btn btn-success'}) }}
        <br>
        <a class="btn btn-outline-secondary" href="{{ path('app_commentaire_index') }}">Retour à liste</a>
        
        <a {{ include('commentaire/_delete_form.html.twig') }}</a>
        <br><br>
    </div>
{% endblock %}