{% extends 'base.html.twig' %}

{% block title %}New Commentaire{% endblock %}

{% block body %}
    <br>
    <div class="container vh-100">
    <br>
        <h1 class="text-center">Create new Commentaire</h1>

        {{ include('commentaire/_form.html.twig') }}
        <br>
        <a class="btn btn-outline-secondary" href="{{ path('app_commentaire_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
