{{ form_start(form) }}
    <div>
        {{ form_row(form.libelle, {
            'attr':{'class':'form-control'}
        }) }}
    </div>
    <br>
    <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
    <br><br>
{{ form_end(form) }}
