{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <br>
    <div class="container vh-100">
    <br>
        <h1 class="text-center">Créer une nouvelle Catégorie</h1>

        {{ include('categorie/_form.html.twig') }}

        <a class="btn btn-outline-secondary" href="{{ path('app_categorie_index') }}">Retour à la liste</a>
    </div>
    <br>
{% endblock %}
