{% extends 'base.html.twig' %}

{% block title %}New Tricks{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h1 class="text-center">Créer un nouveau tricks</h1>

        {{ include('tricks/_form.html.twig') }}

        <a class="btn btn-outline-secondary" href="{{ path('app_tricks_index') }}">Retour à la liste</a>
    </div>
    <br>
{% endblock %}
