{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <br>
    <h1 class="text-center">Modifier le profil</h1>
    <br>
<div class="container">
    {{ include('user/_form.html.twig', {'button_label': 'Modifier',
        'button_class': 'btn btn-success'}) }}

    <a class="btn btn-outline-secondary" href="{{ path('app_user_index') }}">Retour à la liste</a>

    <a{{ include('user/_delete_form.html.twig') }}</a>
    <br><br>
    </div>
{% endblock %}
